/* COLOR PALATTE */
:root {
  --primary-color: #7bf5ed;
  --white-color: #ebeded;
  --third-color: #ffe5b4;
  --forth-color: #059cc7;
  --hover-color: #ffd700;
  --black-color: #161616;
  --body-color: #191717;
  --complementary-color: #a10007;
  --tertiary-color: #ff222b;
  --footer-color: #00544f;
  --profile-color: #3cb371;
  --content-color: #22fff6;
  --message-color: #2eb890;
  --navbar-color: #fd472f;
  --menu-speed: 0.75s;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--navbar-color);
  border: var(--navbar-color) 1px solid;
  color: var(--white-color);
}

.btn:hover {
  opacity: 0.9;
  background-color: transparent;
  transition: 0.5s ease;
}
.btnn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: var(--white-color);
  opacity: 0;
}

.btnn:hover {
  opacity: 0.9;
  background-color: transparent;
  transition: 0.5s ease;
}
.heads-up {
  color: var(--primary-color);
}
